.menu-list_type_default
  overflow-x: hidden;
  min-width: 150px;
  flex: 1 0 auto;

  .menu-list__link
    padding: 8px 12px 7px;
    transition: background .4s ease;
    color: #333;

  .menu-list__link_active
    cursor: default;
    background: #FFEBA0;